  html {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/background.png);
    background-color: var(--background-primary);
    background-size: 50% 50%;
    background-position: center;
    background-attachment: fixed;
}

header {
    padding-top: 76px;
}

header svg {
    color: var(--content-brand);
    width: 38px;
}

main {
    padding-top: 89px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 108px;
    row-gap: 0;
    align-items: start;
    grid-template-areas:
        "div-title div-form"
        "div-faq div-form";
}

#div-title {
    grid-area: div-title;
    width: 508px;
    height: 188px;
    margin-bottom: 38px;
}

#div-faq {
    grid-area: div-faq;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-header svg {
    color: var(--content-brand);
    width: 20px;
}

.card-header h3 {
    margin-left: 8px;
}

.card p {
    margin-left: 29.7px;
}

#div-form {
    grid-area: div-form;
    max-width: 482px;
}

.container {
    padding-left: 120px;
    margin: 0 auto;
    max-width: 1440px;
}

form button {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 8px;
    background: var(--background-tertiary);
    color: var(--content-primary);
    font: var(--label-md);
    text-transform: uppercase;
    cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
    .container {
        padding-left: 35px;
        padding-right: 35px;
    }

    header {
        display: flex;
        gap:11px ;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
   
    }

    main {
        padding-top: 40px;
        grid-template-columns: 1fr;
        column-gap: 0;
        grid-template-areas:
            "div-title"
            "div-form"
            "div-faq";
    }

    #div-title {
        width: 100%;
        height: auto;
        margin-bottom: 32px;
    }

    #div-form {
        max-width: 100%;
        order: 2;
    }

    #div-faq {
        order: 3;
    }

    .card {
        margin-bottom: 24px;
    }
    form button{
        margin-bottom: 80px;
    }
}
