*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* CONTENT */
    --content-primary: #ffffff;
    --content-secondary: #c7c9cc;
    --content-tertiary: #dd9d9;
    --content-brand: #c58de7;
    --color-inverse: #030203;

    /* BACKGROUND */
    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222e;
    --background-brand: #c58de7;
    --background-gray: #3d3d3d;

    /* ACCENT */
    --accent-pink: #d586e0;
    --accent-blue: #91a1fa;
    --accent-green: #77c0af;
    --accent-lime: #d1dc97;
    --accent-red: #e9a9b3;

    /* GRADIENT */
    --gradient-border: linear-gradient(90deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    --gradient-background: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(90deg, #C7C9CC 0%, #3D3D3D 100%);

    /* FONTS */
    --display-lg: 800 70px/130% 'Sora', sans-serif;
    --display-md: 800 40px/130% 'Sora', sans-serif;
    --display-sm: 700 32px/130% 'Sora', sans-serif;
    --overline: 700 16px/150% 'Roboto Mono', monospace;
    --paragraph-lg: 500 16px/150% 'Roboto Flex', sans-serif;
    --paragraph-md: 500 14px/150% 'Roboto Flex', sans-serif;
    --paragraph-sm: 500 12px/150% 'Roboto Flex', sans-serif;
    --label-md: 700 20px/150% 'Roboto Flex', sans-serif;
    --label-sm: 700 16px/150% 'Roboto Flex', sans-serif;
}